@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


:root {
    --main-red-color: rgb(255, 36, 36);
    --main-black-color: black;
}


body {
    font-family: "Poppins", sans-serif;
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(47,47,47,1) 100%);
    margin: 0;
    padding: 0;
    height: 100%;


}

.fix {
    display: none;
}

.all {
    overflow: hidden;
}

/* NAV ELEMENTS */

nav {
    display: flex;
    height: 60px;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 9;
}

 .nav-image img{
    height: 50px;
    width: auto;
    padding-left: 30px;
}


.navbar-toggler-icon .bi {
    color: white;
    font-size: 30px;
    position: absolute;
    margin-top: -20px;
    margin-left: -40px;

}
.bi:hover {
    color:var(--main-red-color);
}


.nav-links-ul {
    display:flex;

}

.nav-links-li {
    list-style-type: none;
    padding: 0px 20px;
    align-self: flex-end;
}

.nav-links-li a {
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-size: 13px;
    transition: color 0.3s ease-in;
}

.nav-links-li a:hover {
    color: var(--main-red-color);

}

#navbarNav {
    align-items: flex-end;
}


/* MAIN ELEMENTS */

main {
    height: 100vh;
    margin-top: 60px;
}

.management-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

/* IMG INDEX ELEMENTS */

.img-index {
    position: absolute;
    margin-left: 50vw;
    margin-top: -100px;
    height: auto;
    width: 50vw;
    overflow: hidden;
    z-index: -1;
}

.index-img {
    
    max-width:100%;
    max-height:100%;
}

/* IMG MANAGEMENT ELEMENTS */

.img-card {
    width: 250px;
    height: 330px;
    overflow: hidden;
    position: relative;
}

#img-sam {
    position: relative;
    right: 50px;
    bottom: 10px;
}

#img-charles {
    position: relative;
    right: 190px;
    bottom: 110px;
    width: 550px
}

/* CARDS MANAGEMENT ELEMENTS */

.management-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.management-cards .card {
    margin: 0px 2vw;
}

.card-head {
    color: var(--main-red-color);
    text-align: center;
    font-size: 15px;
}

.card-text {
    color: white;
    text-align: center;
    font-size: 10px;
    font-weight: 200;
}

.management-icons {
    color: var(--main-red-color);
    display: flex;
    justify-content: center;
}

.management-icons i {
    margin: 0px 7px;
    font-size: 20px;
    cursor: pointer;
}

.management-icons i:hover {
    color: white;
}

/* TEXT MANAGEMENT ELEMENTS */

.management-title {
    margin-top: 30px;
}

.management-title h1 {
    font-size: 70px;
    font-weight: 700;
    text-align: center;
}

/* TEXT + BTN INDEX ELEMENTS */

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 40vw;
}

/* TEXT INDEX ELEMENTS */

.main-title {
    z-index: 1;
    text-align:right;
    padding-top: 70px;
}

.main-title h1 {
    font-weight: 700;
    font-size: 70px;
    
}

.text-red {
    color: var(--main-red-color);
}

/* BTN ELEMENTS */

.btn-light:hover {
    background-color: var(--main-red-color);
    color: white;
    border-color: var(--main-red-color);
}

.btn-index {
    margin-top: 50px;
    z-index: 3;
}

.index-btn {
    align-self: flex-end;
}

/* SCREEN SIZE RESPONSIVITY */

@media (max-width: 991.98px) {
    .img-index {
        width: 60vw;
        height: auto;
    }

    .section {
        margin-right: 33vw;
    }

}

@media (max-width: 870.98px) {

    .nav-links-ul {
        background-color: var(--main-black-color);
        z-index: 10;
    }

    .nav-image img{
        height: 50px;
        width: auto;
        padding-left: 30px;
        margin-top: -20px
    }

    .img-index {
        position: absolute;
        margin-left: 300px;
        width: 70vw;
        overflow: hidden;
        z-index: -1;
    }


    .section {
        margin-right: 45vw;
    }

    .btn-index {
        margin-top: 20px;
        display:flex;
        flex-direction: column;
    }

    .index-btn {
        margin-bottom: 20px;
        width:fit-content;
        align-self: flex-end;
    }

    
}


@media (max-width: 767.98px) {
    
    .main-title {
        padding-top: 50px;
    }

    .main-title h1 {
        font-size: 50px;
    }

    .img-index {
        width: 100vw;
        margin-left: 30vw;
    }


}


@media (max-width: 575.98px) {

    .main-title {
        margin-right: 40vw;
        padding-top: 50px;
    }

    .index-btn {
        margin-right: 40vw;
    }

    .management-title h1 {
        font-size: 50px;
 
    }

    .management-cards {
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    .management-cards .card {
        margin-bottom: 5vw;
    }

    .fix {
        display: block;
        opacity: 0;
        height: 340px;
    }
}